body{
    background-color: rgba(151, 145, 72, 0.927);
    /* font-family: 'Pacifico', cursive; */
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.BG{ 
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
.head{
    top: 0;
    background-color:rgba(48, 50, 19, 0.359);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}
.Khoi1{
    font-size: 22px;
    margin: auto;
}
.lienhe{
    width: 100%;
    background-color:rgba(48, 50, 19, 0.359);
    padding: 50px;
    font-size: 18px;
}
.button {
    border-radius: 200px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(54, 97, 40, 0);
}
.button:hover{
    background-color: rgb(102, 94, 39);
    cursor: pointer;
}
.content{
    width: 100%; 
    
}
#Anhnen{
    width: 100%;
    height: 100%;
}